.contentWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    .leftColumn {
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .rightColumn {
        background: @c-middle;
        width: 100%;
        .section {
            display: none;
            &.active {
                display: block;
            }
        }
    }
    .buttonSection {
        display: block;
        font-size: 1rem;
        font-weight: 600;
        cursor: pointer;
        text-shadow: 0 1px 10px @fc-pink;
        position: relative;
        padding: 2rem 2rem;
        overflow: hidden;
        color: #eeeeee;
        &:before {
            font-size: 2rem;
            color: @fc-pink;
            position: absolute;
            top: 50%;
            left: 1rem;
            transform: translate(0, -50%) scale(1);
            z-index: 10;
            transition: all 1s;
        }
        &:hover {
            background-color: @c-middle;
            &:before {
                left: 0.3rem;
                transform: translate(0, -50%) scale(3);
                transition: all 1s;
                color: @c-dark;
            }
        }
        .textButton {
            position: relative;
            z-index: 20;
        }
    }
}
