doctype
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title CSS secrets
    link(rel="stylesheet" href="static/fonts/css/font-awesome.min.css")
    link(rel="stylesheet" href="http://0.0.0.0:5002/style.css")
    script(src="http://0.0.0.0:5002/vendor.bundle.js")
    script(src="http://0.0.0.0:5002/app.bundle.js")
  body
    block content